<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ThymeleafNature"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <runtime>
         <run
               class="org.thymeleaf.extras.eclipse.nature.ThymeleafNature">
         </run>
      </runtime>
      <builder
            id="org.thymeleaf.extras.eclipse.nature.ThymeleafBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/Thymeleaf.png"
               id="org.thymeleaf.extras.eclipse.menus.ThymeleafMenuGroup"
               label="Thymeleaf">
            <visibleWhen>
               <iterate>
                  <adapt type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.open"
                           value="true">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
            <command
                  commandId="org.thymeleaf.extras.eclipse.menus.AddThymeleafNature"
                  label="Add Thymeleaf Nature"
                  style="push">
            </command>
            <command
                  commandId="org.thymeleaf.extras.eclipse.menus.RemoveThymeleafNature"
                  label="Remove Thymeleaf Nature"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.thymeleaf.extras.eclipse.menus.actions"
            id="org.thymeleaf.extras.eclipse.menus.AddThymeleafNature"
            name="Add Thymeleaf Nature">
      </command>
      <command
            categoryId="org.thymeleaf.extras.eclipse.menus.actions"
            id="org.thymeleaf.extras.eclipse.menus.RemoveThymeleafNature"
            name="Remove Thymeleaf Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.thymeleaf.extras.eclipse.menus.AddThymeleafNature"
            class="org.thymeleaf.extras.eclipse.nature.AddThymeleafNatureAction">
         <activeWhen>
            <with variable="selection">
               <iterate ifEmpty="false" operator="and">
                  <adapt type="org.eclipse.core.resources.IProject">
                     <not>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.thymeleaf.extras.eclipse.nature.ThymeleafNature">
                        </test>
                     </not>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            commandId="org.thymeleaf.extras.eclipse.menus.RemoveThymeleafNature"
            class="org.thymeleaf.extras.eclipse.nature.RemoveThymeleafNatureAction">
         <activeWhen>
            <with variable="selection">
               <iterate ifEmpty="false">
                  <adapt type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.thymeleaf.extras.eclipse.nature.ThymeleafNature">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         id="ThymeleafBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.thymeleaf.extras.eclipse.builder.ThymeleafBuilder">
         </run>
      </builder>
   </extension>

</plugin>
